.layout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.customer-list,
.scanner,
.basket {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
}

.customer {
    margin-bottom: 20px;
}

.customer.active {
    border: 2px solid #007bff;
    padding: 8px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    cursor: move;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.scanner {
    background-color: #f7f7f7;
    transition: background-color 0.3s;
}

.scanner p {
    margin: 0;
    font-size: 16px;
}

.basket .product {
    background-color: #e0ffe0;
}

.basket .total {
    margin-top: 10px;
}

.receipts {
    margin-top: 20px;
}

.receipt {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.receipt h4 {
    margin: 0;
    margin-bottom: 5px;
}

.receipt ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.receipt ul li {
    margin-bottom: 5px;
}

.receipt strong {
    display: block;
    margin-top: 10px;
}
